<!DOCTYPE html>
<html>
  <head>
    <title>Photogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
      <div class="navbar-container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <%= link_to 'PHOTOGRAM', root_path %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right ml-auto">

          <li class="nav-item mx-2">
            <%= link_to 'New Post', new_post_path %>
          </li>

          <li class="nav-item mx-2">
            <%= link_to 'Login' %>
          </li>
          
          <li class="nav-item mx-2">
            <%= link_to 'Register' %>
          </li>

        </ul>
      </div>
    </nav>
    
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <% flash.each do |type, msg| %>
          <div class='d-flex justify-content-between alert alert-<%="#{type}"%>'>
            <%= content_tag :div, msg if msg.is_a?(String) %>
            <a href="#" class="close" data-dismiss="alert">&#10006</a>
          </div>
        <% end %>
      </div>
    </div>
    
    <%= yield %>
  
  </body>
</html>
